nav.navbar.navbar-default.navbar-static-top(role='navigation')
	div.container-fluid
		div.navbar-header
			a.navbar-brand(href='/') RealThyme

		div.collapse.navbar-collapse
			ul.nav.navbar-nav.navbar-right
				li
					a(href='/polls')
						i.fa.fa-bar-chart-o
						|  View Polls